body {
    background-color: white;
    color: black;
    font-family:
        JetBrains Mono,
        monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    /*margin: 0 auto;*/
    width: 90vw;
    max-width: 800px;
}

.link_box {
    text-align: center;
}

.link_box a:link,
.link_box a:visited {
    color: white;
    background-color: #ab3931;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.link_box_social {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link_box_social a:link,
.link_box_social a:visited {
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;

    flex: 1 1 2%;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.stardos-stencil-regular {
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-style: normal;
}

.stardos-stencil-bold {
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-family: 'Stardos Stencil', normal;
    font-weight: 300;
    /* Adjust the weight to make it thinner */
    font-size: 48px;
    /* Change this value to your desired size */
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: 300;
    /* Adjust the weight to make it thinner */
    font-size: 100px;
    /* Change this value to your desired size */
}

h2 {
    margin: 5px;
    text-align: center;
}

h3 {
    margin: 5px;
    text-align: center;
}

h4 {
    margin: 5px;
    text-align: center;
}

.text_container {
    margin-top: 20px;
    padding: 10px;
    outline: 2px solid;
    outline-color: black;
    border-radius: 25px;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px;
}