<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  {% include nav.html %}
  <h1>{{page.title}}</h1>
  {{ content }}

  <div class="grid">
    {% assign articles = site.posts | where: "categories", "article" | sort: "date" | reverse %}
    {% for article in articles %}
    <div class="article">
      <a href="{{ article.url }}">
        {% if article.cover_image %}
        <img src="{{ article.cover_image }}" alt="{{ article.title }} cover image">
        {% endif %}
      </a>
      <p>{{ article.date | date: "%B %d, %Y" }}</p>
    </div>
    {% endfor %}
  </div>
</body>

</html>